<h1>Library Books</h1>
<p>Here's all the books:</p>
  <p> <% @books.each do |book| %> </p>
  <li>
    <%= link_to book.title %>:
    <a href="#">Reserve Now</a>
    <a href="/books/:id"> Edit</a>
  </li>
 <% end %>

 <p> <a href="/books/new">Add a new book</a></p>
