<h1>Reservations</h1>
<p>All reservations:</p>

<% @reservations.each do |reservation| %>
<%= reservation.book.title if reservation.book %> |
<% if reservation.overdue? %>
<span>Overdue!</span> |
<% end %>
Checked out to: <%= reservation.name %> |
Due Date: <%= reservation.return_date %> <br>
<% end %>




<p> <a href="/books">Home</a> </p>
