<h1>Reservations</h1>
<p>Create your new reservation here:</p>
<p>Reservations should be returned 3 days from today</p>
Return Date: <input type="date" name="field1" id="field1" <br>
<br>
<br




<p> <a href="/books">Home</a> </p>
